## Question No 1

Write a program that takes two numbers (a = 15 , b = 4) and prints their:

In [1]:
a = 15
b = 4

In [2]:
Sum = a+b
Difference = a-b
product = a*b
division = a/b 
floor_division = a//b
modulus = a%b

In [3]:
print(Sum)
print(Difference)
print(product)
print(division)
print(floor_division)
print(modulus)

19
11
60
3.75
3
3

## Question No 2

check the_type, convert:

In [4]:
num1 = 10
num2 = 5.6
num3 = 4.43
num4 = "23"
print("num1: ",type(num1))
print("num2: ",type(num2))
print("num3: ",type(num3))
print("num4: ",type(num4))

num1:  <class 'int'>
num2:  <class 'float'>
num3:  <class 'float'>
num4:  <class 'str'>

In [5]:
num1=float(num1)
num2= int(num2)
num3=str(num3)
num4=int(num4)

In [6]:
print("num1: ",num1,type(num1))
print("num2: ",num2,type(num2))
print("num3: ",num3,type(num3))
print("num4: ",num4,type(num4))

num1:  10.0 <class 'float'>
num2:  5 <class 'int'>
num3:  4.43 <class 'str'>
num4:  23 <class 'int'>

## Question No 3

write a code o store your favourite food in a variable and print it

In [7]:
fav_foods = "Biryani"

In [8]:
print(fav_foods)

Biryani

## Question No 4

In [9]:
apples='22'
mangoes=33

In [10]:
total = int(apples)+mangoes

In [11]:
print("Total fruits: ",total)

Total fruits:  55

## Question No 5

In [12]:
name= "Shahab"
Age = 27

In [13]:
Age+=1

In [14]:
print(f"my age is {Age}")

my age is 28

## Question No 6

In [15]:
a=2
b=1
c=6
d=3

In [16]:
add=a-b
sub=c-a
mul=d*b
div=c/d
mod=c%d
sqr=(d+a)**2

In [17]:
print("addition: ",add)
print("subtraction: ",sub)
print("multiplication: ",mul)
print("division: ",div)
print("modulus: ",mod)
print("square: ",sqr)

addition:  1
subtraction:  4
multiplication:  3
division:  2.0
modulus:  0
square:  25

## Question No 7

In [18]:
a='2'
b='11'
c=6.3

In [19]:
add=int(a)+c
mul=float(b)*c
add2=int(c)+c

In [20]:
print("Conversion and addition:       ",add)
print("Conversion and multiplication: ",mul)
print("Conversion and addition 2:     ",add2)

Conversion and addition:        8.3
Conversion and multiplication:  69.3
Conversion and addition 2:      12.3

## Question No 8

In [21]:
age=20 # age in 2020

In [22]:
age+=5 # after 5 years

In [23]:
print("age",age) #age in 2025

age 25

## Question No 9

In [24]:
books=12

In [25]:
books-=4 # 4 books were given to friends

In [26]:
print("books: ",books)

books:  8

## Question No 10

In [27]:
cookies=5 # cookies baked

In [28]:
cookies*=3 #today, baked cookies are 3 time more

In [29]:
print("cookies: ",cookies)

cookies:  15