Question 1: Two-List Synchronization
Given two lists of equal length, one containing student names and the other their ages, use a for loop to create a single dictionary where each student's name is a key and their age is the corresponding value.

names = ["Ali", "Sara", "John", "Zara"]
ages = [22, 25, 23, 27]

In [1]:
names = ["Ali", "Sara", "John", "Zara"] 
ages = [22, 25, 23, 27]

In [2]:
len(names)==len(ages)

True

In [3]:
student={}
for i in range(len(names)):
    student[names[i]]=ages[i]
student

{'Ali': 22, 'Sara': 25, 'John': 23, 'Zara': 27}

Question 2: Categorizing Data into Bins
Write a program that iterates through the list of scores. Use a for loop to count how many scores fall into three different categories: "High" (90-100), "Medium" (70-89), and "Low" (below 70). Store the final counts in a dictionary.

scores = [95, 82, 65, 78, 90, 88, 55, 100]

In [4]:
scores = [95, 82, 65, 78, 90, 88, 55, 100]

categories={"High":0,"Medium":0,"Low":0}

for score in scores:
    if score >=90:
        categories["High"]+=1
    elif score >=80 and score <90:
        categories['Medium']+=1
    else:
        categories["Low"]+=1
print(categories)

{'High': 3, 'Medium': 2, 'Low': 3}

Question 3: Finding Missing Records
You have a list of all employee IDs and a dictionary of active employees. Use a for loop to identify and print the IDs of the employees who are in the all_ids list but are NOT present in the active_employees dictionary.

all_ids = ["E001", "E002", "E003", "E004"]
active_employees = {"E001": "Bilal", "E003": "Hina"}

In [5]:
all_ids = ["E001", "E002", "E003", "E004"]
active_employees = {"E001": "Bilal", "E003": "Hina"}

for emp in all_ids:
    if emp not in active_employees:
        print("missing emp id: ", emp)

missing emp id:  E002
missing emp id:  E004

 4: Conditional Summation with a Limit
Loop through the list of numbers. Calculate the running total. If the total exceeds 50, print the current total and the message "Total exceeded limit!", then stop the loop immediately.

data = [10, 15, 20, 12, 5, 8, 30]

In [6]:
data = [10, 15, 20, 12, 5, 8, 30]

count=0
for dat in data:
    count+=dat
    if count>50: 
        print("total exceeds limit")
        break
print("final total",count)

total exceeds limit
final total 57

Question 5: String Sanitization
Given a messy string, use a for loop to create a new, sanitized string that:

Removes all punctuation (. , !).

Replaces multiple spaces with a single space.

Converts the entire string to lowercase.

text = "  Data...is, a! powerful tool  ."

In [7]:
text = " Data...is, a! powerful tool ."
ch=""
for tex in text:
    if tex.isalpha() or tex==" ":
        ch+=tex

print("Cleaned text:", ch)

Cleaned text:  Datais a powerful tool

Question 6: Complex Filtering of a Dictionary List
Iterate through the list of products. Using a for loop, print the name and price of any product that is both "in stock" AND has a price lower than $50.

products = [
    {"name": "Mouse", "price": 45, "in_stock": True},
    {"name": "Keyboard", "price": 60, "in_stock": False},
    {"name": "Webcam", "price": 48, "in_stock": True},
    {"name": "Monitor", "price": 120, "in_stock": True}
]

In [8]:
products = [ {"name": "Mouse", "price": 45, "in_stock": True}, {"name": "Keyboard", "price": 60, "in_stock": False}, {"name": "Webcam", "price": 48, "in_stock": True}, {"name": "Monitor", "price": 120, "in_stock": True} ]

In [9]:
for product in products:
    if product["in_stock"]==True and product["price"]<50:
        print(f' {product["name"]} is in stock and price is {product["price"]}')

 Mouse is in stock and price is 45
 Webcam is in stock and price is 48

In [10]:
product=[product for product in products if product["in_stock"]==True and product["price"]<50 ]
print(product)

[{'name': 'Mouse', 'price': 45, 'in_stock': True}, {'name': 'Webcam', 'price': 48, 'in_stock': True}]

Question 7: Finding the Longest Consecutive Run
Find the longest sequence of consecutive identical numbers in the list. The loop should print the number and the length of its longest consecutive run.

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]
(Expected Output: The longest run is 4, for the number 4.)

In [11]:
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]
max_run=1
cur_run=1
longest=numbers[0]
L=len(numbers)


for i in range(L):
    if numbers[i]==numbers[i-1]:
        cur_run+=1
    else:
        cur_run=1

    if cur_run>max_run:
        max_run=cur_run
        longest=numbers[i]

print(longest)

4

Question 8: Dynamic Dictionary Update
Given the sales dictionary below, iterate through its items. If a product's value (sales) is less than 500, increase its sales value by 10%. Print the updated dictionary at the end.

sales = {"product_a": 450, "product_b": 600, "product_c": 300, "product_d": 800}

In [12]:
sales = {"product_a": 450, "product_b": 600, "product_c": 300, "product_d": 800}

for key,value in sales.items():
    if value < 500:
        sales[key]=round(value * 1.1)
print(sales)

{'product_a': 495, 'product_b': 600, 'product_c': 330, 'product_d': 800}

Question 9: Creating a New List with a Condition
Create a new list containing only the square of each even number from the original list. Odd numbers should be skipped.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num=[number**2 for number in numbers if number%2==0]
print(num)

[4, 16, 36, 64, 100]

Question 10: Finding the Most Frequent Element
Find and print the most frequently occurring word in the sentence without using the collections.Counter module. Use a dictionary to keep track of the counts inside your loop. The count should be case-insensitive.

sentence = "Python is great. Python is a powerful language."

In [14]:
sentence = "Python is great. Python is a powerful language."
sentence=sentence.lower()
sentence=sentence.replace(".","")
sentence=sentence.split()

count={}
for word in sentence:
    if word in count:
        count[word]+=1
    else:
        count[word]=1
print(count)
max_count=0
words=""
for key,value in count.items():
    if value >max_count:
        max_count=value
        words=key
print(words)
print(max_count)

{'python': 2, 'is': 2, 'great': 1, 'a': 1, 'powerful': 1, 'language': 1}
python
2