## Question 1

Write a Python program that prints numbers from 1 to 20, but skips all even numbers.
Use a while loop and the continue statement.
The numbers should be printed on the same line separated by spaces.

In [2]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i += 1
        continue
    print(i, end=" ")
    i += 1

1 3 5 7 9 11 13 15 17 19

## Question 2

Write a Python program that keeps asking the user to enter numbers and prints them.
The program should stop if the user enters a negative number.
Use a while True loop with a break statement.

In [4]:
while True:
    num = int(input("Enter a number (negative to stop): "))
    if num < 0:
        print("Negative number entered. Loop stopped!")
        break
    print("You entered:", num)

Enter a number (negative to stop):  2

You entered: 2

Enter a number (negative to stop):  4

You entered: 4

Enter a number (negative to stop):  -1

Negative number entered. Loop stopped!

## Question 3

Write a Python program that asks the user to guess a secret word.
Keep asking until the user enters the correct word "python".
When guessed correctly, print "You guessed it!".

In [7]:
while True:
    word = input("Guess the word: ")
    if word.lower() == "python":
        print("You guessed it!")
        break

Guess the word:  python

You guessed it!

## Question 4

You are given a list of e-commerce orders. Each order has an order ID, a customer name, and a list of item prices.
Write a Python program to print all items for each order using nested while loops.

In [9]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

In [10]:
i = 0
while i < len(orders):
    order = orders[i]
    print(f"Order ID: {order['order_id']} Customer: {order['customer']}")
    j = 0
    while j < len(order["items"]):
        print(" Item Price:", order["items"][j])
        j += 1
    i += 1

Order ID: 1 Customer: Ali
 Item Price: 120
 Item Price: 80
 Item Price: 50
Order ID: 2 Customer: Sara
 Item Price: 200
 Item Price: 150
Order ID: 3 Customer: Raheel
 Item Price: 90
 Item Price: 60
 Item Price: 40
 Item Price: 30
Order ID: 4 Customer: Naveed
 Item Price: 300

## Question 5

Print total amount spent by each customer (Using nested while loop)

In [12]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

In [13]:
i = 0
while i < len(orders):
    order = orders[i]
    total = 0
    j = 0
    while j < len(order["items"]):
        total += order["items"][j]
        j += 1
    print(f"{order['customer']} spent total: {total}")
    i += 1

Ali spent total: 250
Sara spent total: 350
Raheel spent total: 220
Naveed spent total: 300

## Question 6

Print the maximum item price for each order. (Using nested while loop)

In [15]:

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

In [16]:
i = 0
while i < len(orders):
    order = orders[i]
    max_price = order["items"][0]
    j = 1
    while j < len(order["items"]):
        if order["items"][j] > max_price:
            max_price = order["items"][j]
        j += 1
    print(f"Most expensive item in Order {order['order_id']} = {max_price}")
    i += 1

Most expensive item in Order 1 = 120
Most expensive item in Order 2 = 200
Most expensive item in Order 3 = 90
Most expensive item in Order 4 = 300

## Question 7

Write a Python program to create a single list (list comprehension) that contains all numbers from 1 to 50 which are multiples of 5 and 10.

In [18]:
multiples = [n for n in range(1, 51) if n % 10 == 0]
print("Multiples of 5 and 10 from 1 to 50:", multiples)

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

## Question 8

In [20]:
employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

In [23]:
names= [emp["name"] for emp in employees if emp["salary"]>60000 and emp["experience"]>5]
print(names)

['Naveed', 'Ayesha', 'Sana']

## Question 9

Employees with NOT HR department

In [28]:
no_HR= [emp["name"] for emp in employees if emp["dept"]!="HR"]
print(no_HR)

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

## Question 10

Employees NOT in Sales OR experience > 5

In [32]:
no_sales= [emp["name"] for emp in employees if emp["dept"]!="Sales" or emp["experience"]>5]
print(no_sales)

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']