# Assignment_9th

Q1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [3]:
def add_numbers(a,b):
    return (a+b)

add_numbers(1,2)

3

Q2. Write a Python function count_vowels that accepts a string and returns the number of vowels a, e, i, o, u, A, E, I, O, U in that string.

In [24]:
def count_vowels(words): ## count_vowels(int(str(a)))
    vowels="aeiouAEIOU"
    return sum([1 for word in words if word in vowels])

print("Output: ",count_vowels(input("Enter the sentence:\n")),"vowels")

Enter the sentence:
 Welcome back brother

Output:  6 vowels

Q3. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.
- 
The function should return a message showing how much the given amount is worth in the target currency (PKR).

Expected Output:

'100 USD is equivalent to 28000 PKR'

In [34]:
def currency_converter(USD):
    PKR=USD*280
    return (PKR)
usd_amount=int(input("Enter the Number: "))
print(f'{usd_amount} USD is equivalent to {currency_converter(usd_amount)} PKR')

Enter the Number:  100

100 USD is equivalent to 28000 PKR

Q4. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

Expected Output:

- Name: John Doe
- Age: 15
- Grade: 10th
- School: Greenwood High

In [49]:
def display_student_info(Name,Age,Grade,School):
    print(f"Name: {Name}")
    print(f"Age: {Age}")
    print(f"Grade: {Grade}")
    print(f"School: {School}")

display_student_info(Name="John Doe", Age=15, Grade="10th", School="Greenwood High")

Name: John Doe
Age: 15
Grade: 10th
School: Greenwood High

Q5. Write a Python function calculate_price that multiplies price Ã— quantity.

In [1]:
def calculate_price(price, quantity):
    return price * quantity
print(calculate_price(50, 3))

150

Q6. Write a Python function display_prices that accepts product name and keyword arguments for store prices.

In [2]:
def display_prices(product, **prices):
    print(f"Product: {product}")
    for store, price in prices.items():
        print(f"{store}: ${price}")
        
display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

Q7. Write a Python function find_max that takes arbitrary numbers and returns the maximum.

In [3]:
def find_max(*numbers):
    return max(numbers)
print(find_max(3, 8, 15, 2, 10))

15

Q8. Write a Python function calculate_rectangle with nested functions for area and perimeter.

In [4]:
def calculate_rectangle(length, width):
    def calculate_area():
        return length * width
    def calculate_perimeter():
        return 2 * (length + width)
    return calculate_area(), calculate_perimeter()


area, perimeter = calculate_rectangle(5, 3)
print("Area:", area)       
print("Perimeter:", perimeter)

Area: 15
Perimeter: 16

Q9. Write a Python function taxi_fare(distance, rate=100) that calculates taxi fare.

In [5]:
def taxi_fare(distance, rate=100):
    return distance * rate

print("Taxi fare for 10 km =", taxi_fare(10), "PKR")  
print("Taxi fare for 15 km =", taxi_fare(15, rate=120), "PKR")

Taxi fare for 10 km = 1000 PKR
Taxi fare for 15 km = 1800 PKR

Q10. Write a Python function shopping_bill(price, quantity, discount=0) with nested functions.

In [6]:
def shopping_bill(price, quantity, discount=0):
    def calculate_total():
        return price * quantity
    def apply_discount(total):
        return max(total - discount, 0)
    total = calculate_total()
    return apply_discount(total)

print("Final Bill =", shopping_bill(200, 3, discount=0), "PKR")
print("Final Bill =", shopping_bill(200, 3, discount=100), "PKR")

Final Bill = 600 PKR
Final Bill = 500 PKR