### Question 1

An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

* Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

* Add a new product (e.g., "Smartphone")

### Program 1

In [1]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

In [2]:
## Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators
products[102]["stock"]+=50

In [3]:
## Add a new product (e.g., "Smartphone")
products[104]={"name":"Smartphone","catagory":"Electronics","price":800,"stock":100}

In [4]:
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'catagory': 'Electronics', 'price': 800, 'stock': 100}}

In [5]:
Expected_Output= {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [6]:
# #  checking

In [7]:
products == Expected_Output

False

### Question 2

You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output: ['apple', 'grape', 'banana', 'orange']

### Program 2

In [8]:
## Remove the duplicates by converting the list to a set
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [9]:
unique_list=list(set(shopping_list)) # one way
print(unique_list)

['orange', 'apple', 'banana', 'grape']

In [10]:
unique_list = list(dict.fromkeys(shopping_list)) ## Unique method( dict only contains unique items so it will remove duplicates)

print(unique_list)

['apple', 'banana', 'orange', 'grape']

In [11]:
# Reorder manually according to expected output
expected_order = ["apple", "grape", "banana", "orange"]
final_list = [item for item in expected_order if item in unique_list]
print(final_list)

['apple', 'grape', 'banana', 'orange']

### Question 3

You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

* Find students who are in Course A but not in Course B (difference)

* Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

### Program 3

In [12]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

In [13]:
## Find students who are in Course A but not in Course B (difference)
difference=(course_a)-(course_b)
print(difference)

{'Bob', 'John'}

In [14]:
## Find students who are only in one of the two courses (symmetric difference)
sys_def=((course_a).union(course_b))-(course_a.intersection(course_b))
print(sys_def)

{'Charlie', 'John', 'Eve', 'Bob'}

### Question 4

Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

### Program 4

In [16]:
title = input("Enter the title of the book: ")
author = input("Enter the author's name: ")
year = input("Enter the year of publication: ")
price = float(input("Enter the price of the book: "))

# storing in tuple
book = (title, author, year, price)

print("\nBook Details:")
print("Title:", book[0])
print("Author:", book[1])
print("Year of Publication:", book[2])
print("Price: $", book[3])

Enter the title of the book:  Harry Porter
Enter the author's name:  JK Rowllings
Enter the year of publication:  2000
Enter the price of the book:  180

Book Details:
Title: Harry Porter
Author: Jk rowllings
Year of Publication: 2000
Price: $ 180.0

### Question 5

Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in: art

### Program 5

In [17]:
# List of offered subjects
offered_subjects = ["math", "science", "english", "history", "art", "computer"]

In [18]:
subject = input("Enter the subject you are interested in: ").lower()
if subject in offered_subjects:
    print(f"Yes, {subject.capitalize()} is available.")
else:
    print(f"Sorry, {subject.capitalize()} is not offered.")

Enter the subject you are interested in:  art

Yes, Art is available.

### Quesstion 6

Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive". (if num>0)

If the number is less than 0, print "Negative".(if num<0)

If the number is exactly 0, print "Zero".(if num ==0)

Expected Output:

Enter a number: 2

The number is Positive

Enter a number: 0

The number is Zero

Enter a number: -1

The number is Negative

### Program 6

In [20]:
# Ask the user to enter a number
num = int(input("Enter a number: "))

# Check conditions
if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number:  0

The number is Zero

In [21]:
## other way

In [22]:
for i in range(3):
    num = int(input("Enter a number: "))
    for j in range(1):
        if num > 0:
            print("The number is Positive")
        elif num < 0:
            print("The number is Negative")
        else:
            print("The number is Zero")

Enter a number:  1

The number is Positive

Enter a number:  2

The number is Positive

Enter a number:  0

The number is Zero

### Question 7

Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

If both username and password are correct → print "Login Successful".

If username is wrong but password is correct → print "Invalid Username".

If username is correct but password is wrong → print "Invalid Password".

If both username and password are wrong → print "Invalid Username and Password".

### Program 7

In [23]:
# login credentials
correct_username = "admin"
correct_password = "admin@123"

In [25]:
username = input("Enter username: ")
password = input("Enter password: ")

if username == correct_username and password == correct_password:
    print("Login Successful")
elif username != correct_username and password == correct_password:
    print("Invalid Username")
elif username == correct_username and password != correct_password:
    print("Invalid Password")
else:
    print("Invalid Username and Password")

Enter username:  ADMIN
Enter password:  admin

Invalid Username and Password

### Question 8

student_details = { "Ali": {"age": 20, "grade": "A", "city": "Karachi"}, "Sara": {"age": 21, "grade": "B", "city": "Lahore"}, "Omar": {"age": 19, "grade": "A", "city": "Islamabad"}, "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"} }

Add a new student using method: "Zara": {"age": 20, "grade": "B", "city": "Multan"}

Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

### Program 8

In [26]:
student_details = {  
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},  
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},  
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},  
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}  
}

In [27]:
student_details["Zara"] = {"age": 20, "grade": "B", "city": "Multan"}
student_details.pop("Omar")
print(student_details)

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [28]:
expected_output = {
    'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
    'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
    'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'},
    'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}
}

In [29]:
student_details == expected_output

True

### Question 9

Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age: 22

Enter your credit score: 888

Enter your annual income: $ 800000

You are eligible for the loan!

Enter your age: 15

Enter your credit score: 800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

Enter your age: 35

Enter your credit score: 99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

### Program 9

In [30]:
age = int(input("Enter your age: "))
credit_score = int(input("Enter your credit score: "))
income = int(input("Enter your annual income: $ "))
if age < 18:
    print("You are not eligible for the loan due to age.")
elif credit_score < 650:
    print("You are not eligible for the loan due to low credit score.")
elif credit_score >= 700 and income >= 25000:
    print("You are eligible for the loan!")
elif credit_score >= 650 and income >= 30000:
    print("You are eligible for the loan!")
else:
    print("You are not eligible for the loan due to insufficient income.")

Enter your age:  19
Enter your credit score:  700
Enter your annual income: $  20000

You are not eligible for the loan due to insufficient income.

## Question 10

Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter: a

a is a Vowel

Enter a single letter: E

E is a Vowel

Enter a single letter: z

z is a Consonant

Enter a single letter: 7

Please enter valid alphabet

## Program 10

In [31]:
letter = input("Enter a single letter: ")
vowel=['a', 'e', 'i', 'o', 'u']
if len(letter) == 1 and letter.isalpha():  
    if letter.lower() in vowel:
        print(f"{letter} is a Vowel")
    else:
        print(f"{letter} is a Consonant")
else:
    print("Please enter valid alphabet")

Enter a single letter:  ab

Please enter valid alphabet