In [1]:
import csv

In [2]:
file= open("student data.csv", mode="r")
reader=csv.reader(file)
data=list(reader)
print(data)

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'], ['101', 'Aliza', '50', '23', '87'], ['102', 'Fareed', '45', '24', '88'], ['103', 'Basit', '46', '25', '89'], ['104', 'Abdullah', '47', '26', '90'], ['105', 'Ali', '48', '27', '67'], ['106', 'Mubashir', '49', '28', '68'], ['107', 'Waleed', '50', '29', '69'], ['108', 'Mansoor', '51', '30', '70'], ['109', 'Zain', '52', '31', '71'], ['110', 'Mohsin', '53', '67', '72'], ['111', 'Shahmeer', '54', '68', '73'], ['112', 'Rao', '55', '69', '74'], ['113', 'Aurangzeb', '56', '70', '75'], ['114', 'Zeeshan', '57', '71', '76'], ['115', 'Hamna', '58', '72', '77'], ['116', 'Hamza', '59', '73', '78'], ['117', 'Khalid', '60', '74', '79'], ['118', 'Behroz', '61', '75', '80'], ['119', 'Justin', '62', '76', '81'], ['120', 'Danish', '63', '77', '82'], ['121', 'Kainat', '64', '78', '83'], ['122', 'Sameer', '65', '79', '84'], ['123', 'Raza', '66', '80', '85'], ['124', 'Kumar', '67', '81', '86'], ['125', 'Komal', '68', '82', '87'], ['126', 'Erum', '69', '83', '88'], ['127', 'Faiza', '70', '84', '89'], ['128', 'Saeed', '71', '85', '90'], ['129', 'Waqar', '72', '86', '91'], ['130', 'Wali', '73', '87', '92'], ['131', 'Wajid', '74', '88', '93'], ['132', 'Waseeb', '75', '89', '94'], ['133', 'Shiza', '76', '90', '95'], ['134', 'Shabina', '77', '91', '96'], ['135', 'Shazain', '78', '55', '97'], ['136', 'Lubna', '79', '61', '98'], ['137', 'Laiba', '80', '88', '78'], ['138', 'Khursheed', '81', '56', '45'], ['139', 'Ali', '82', '89', '46'], ['140', 'Aiza', '83', '45', '89'], ['141', 'Aiman', '84', '92', '78'], ['142', 'Yasmeen', '85', '36', '56'], ['143', 'Tasbeel', '86', '78', '78'], ['144', 'Laraib', '87', '56', '54'], ['145', 'Saleem', '88', '78', '78'], ['146', 'Bismil', '89', '89', '46'], ['147', 'Batool', '90', '56', '79'], ['148', 'Iqra', '91', '33', '46'], ['149', 'Zarnish', '92', '78', '45'], ['150', 'Zara', '83', '45', '56']]

In [3]:
header=data[0]
data_rows=data[1:]

In [4]:
print(header)
header.extend(['Percentage'])
header.extend(['Grades'])
print(header)

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']
['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Grades']

In [5]:
for per in data_rows:
    chem=float(per[2])
    phy=float(per[3])
    math=float(per[4])
    percentage = round(((chem+phy+math)/300)*100,2)
    print(round(percentage,2))
    per.append(percentage)
    


    if percentage >= 80:
        grade = "A+"
    elif 70 <= percentage < 80:
        grade = "A"
    elif 60 <= percentage < 70:
        grade = "B"
    elif 50 <= percentage < 60:
        grade = "C"
    else:
        grade = "F"

    per.append(grade)

53.33
52.33
53.33
54.33
47.33
48.33
49.33
50.33
51.33
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
76.67
79.33
82.0
60.67
72.33
72.33
84.67
59.0
80.67
65.67
81.33
74.67
75.0
56.67
71.67
61.33

In [6]:
print (header)
for per in data_rows:
    print(per)

['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Grades']
['101', 'Aliza', '50', '23', '87', 53.33, 'C']
['102', 'Fareed', '45', '24', '88', 52.33, 'C']
['103', 'Basit', '46', '25', '89', 53.33, 'C']
['104', 'Abdullah', '47', '26', '90', 54.33, 'C']
['105', 'Ali', '48', '27', '67', 47.33, 'F']
['106', 'Mubashir', '49', '28', '68', 48.33, 'F']
['107', 'Waleed', '50', '29', '69', 49.33, 'F']
['108', 'Mansoor', '51', '30', '70', 50.33, 'C']
['109', 'Zain', '52', '31', '71', 51.33, 'C']
['110', 'Mohsin', '53', '67', '72', 64.0, 'B']
['111', 'Shahmeer', '54', '68', '73', 65.0, 'B']
['112', 'Rao', '55', '69', '74', 66.0, 'B']
['113', 'Aurangzeb', '56', '70', '75', 67.0, 'B']
['114', 'Zeeshan', '57', '71', '76', 68.0, 'B']
['115', 'Hamna', '58', '72', '77', 69.0, 'B']
['116', 'Hamza', '59', '73', '78', 70.0, 'A']
['117', 'Khalid', '60', '74', '79', 71.0, 'A']
['118', 'Behroz', '61', '75', '80', 72.0, 'A']
['119', 'Justin', '62', '76', '81', 73.0, 'A']
['120', 'Danish', '63', '77', '82', 74.0, 'A']
['121', 'Kainat', '64', '78', '83', 75.0, 'A']
['122', 'Sameer', '65', '79', '84', 76.0, 'A']
['123', 'Raza', '66', '80', '85', 77.0, 'A']
['124', 'Kumar', '67', '81', '86', 78.0, 'A']
['125', 'Komal', '68', '82', '87', 79.0, 'A']
['126', 'Erum', '69', '83', '88', 80.0, 'A+']
['127', 'Faiza', '70', '84', '89', 81.0, 'A+']
['128', 'Saeed', '71', '85', '90', 82.0, 'A+']
['129', 'Waqar', '72', '86', '91', 83.0, 'A+']
['130', 'Wali', '73', '87', '92', 84.0, 'A+']
['131', 'Wajid', '74', '88', '93', 85.0, 'A+']
['132', 'Waseeb', '75', '89', '94', 86.0, 'A+']
['133', 'Shiza', '76', '90', '95', 87.0, 'A+']
['134', 'Shabina', '77', '91', '96', 88.0, 'A+']
['135', 'Shazain', '78', '55', '97', 76.67, 'A']
['136', 'Lubna', '79', '61', '98', 79.33, 'A']
['137', 'Laiba', '80', '88', '78', 82.0, 'A+']
['138', 'Khursheed', '81', '56', '45', 60.67, 'B']
['139', 'Ali', '82', '89', '46', 72.33, 'A']
['140', 'Aiza', '83', '45', '89', 72.33, 'A']
['141', 'Aiman', '84', '92', '78', 84.67, 'A+']
['142', 'Yasmeen', '85', '36', '56', 59.0, 'C']
['143', 'Tasbeel', '86', '78', '78', 80.67, 'A+']
['144', 'Laraib', '87', '56', '54', 65.67, 'B']
['145', 'Saleem', '88', '78', '78', 81.33, 'A+']
['146', 'Bismil', '89', '89', '46', 74.67, 'A']
['147', 'Batool', '90', '56', '79', 75.0, 'A']
['148', 'Iqra', '91', '33', '46', 56.67, 'C']
['149', 'Zarnish', '92', '78', '45', 71.67, 'A']
['150', 'Zara', '83', '45', '56', 61.33, 'B']

In [7]:
with open("student_data_grades_updated.csv", "w", newline="") as new_file:
    writer = csv.writer(new_file)
    writer.writerow(header)
    writer.writerows(data_rows)